body{

    background: url("Problem.jpg") no-repeat scroll center;
    -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 900px;
  max-width: 1366px;
  display:block;
  padding: 0 !important;
  margin: 0;



}

h1 {
    text-align: center;
    position: relative;
}

.jumbotron {
    position: relative;
    max-height: 600px;
    color: moccasin;
}

form {
    list-style-type: none;
    position: relative;
    background-color:solid lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page-header {
    background-color: transparent   gainsboro ;
    padding-bottom: 1em;
    border-radius: 10px;
    border-style: outset;
    border-color: beige;

}
.container {
    
    border-radius: 1%;
    -webkit-background-size: 80px 65px;
    -moz-background-size: 80px 65px;
    -o-background-size: 80px 65px;
    background-size: 80px 65px;
    position: absolute;
    float: initial;
    font-size: 120%;
    right: 25%;
    height: 800px;
    width: 800px;
    max-width: 800px;
    max-height:1366px;
    border: 1px hidden;
    word-wrap: break-word;  

}


#msg {
    display: block;
    padding: 0 !important;
    margin: 0;

}
radio {
    display: list-item;
    position: relative;
    left: 60px;
    bottom: 20px;
    
}
label{

    display: inline-block;
    clear: left;
    width: 350px;
    text-align: center;

}
input {

    display: inline-block;

}


.roller {

    margin: 0;
	text-align: left;
    font-size: 2em;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.roller span {
    color:blueviolet;
	font-size: 150%;
	font-weight: normal;
}

.rolling {

    display: inline;
	text-indent: 10px;
}

.rolling-1 span{
    position: absolute;
	opacity: 0;
	overflow: hidden;
	color: blueviolet;
	-webkit-animation: rotateWord 8s linear infinite 0s;
	-ms-animation: rotateWord 8s linear infinite 0s;
	animation: rotateWord 8s linear infinite 0s;
}

.rolling-1 span:nth-child(2) {
     -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: blueviolet;
}

.rolling-1 span:nth-child(3) {

-webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: blueviolet;	

}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.phrase { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.phrase { font-size: 9px; }
}
