@import "http://fonts.googleapis.com/css?family=Droid+Serif";
.panel-heading {
    text-align: center;
}
fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border-radius: 5px;
    border: 2px groove (internal value);
}

.radio {
    position: absolute;
    float: left !important;

}

.error {color: #FF0000;
}
body {
    background-color: darkgray;
}


.section {
font-family: 'Droid-Serif',serif;
}


.panel-info {
    background-color: lightblue;
    text-align: center;

}

.container-fluid{
    background-color: lightgoldenrodyellow;
}

.btn btn-success{
    position: absolute;
    float: left;
    clear: right;
}